.mainProductos .tituloProductos {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 3px #D8BFD8;
}
.mainProductos .productos {
  display: grid;
  grid-template-columns: repeat(4, 12fr);
  gap: 10px;
  margin: 10px;
}
.mainProductos .productos .item {
  text-align: center;
  background-color: #B382A0;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.mainProductos .productos .item .img-productos {
  width: 95%;
  height: 300px;
  margin: 0 2px 10px 2px;
}
.mainProductos .productos .item:hover {
  background-color: #E35FB7;
}

/* INICIO ESTILOS productos.html */
@media (max-width: 768px) {
  .mainProductos .productos {
    grid-template-columns: repeat(2, 12fr);
  }
}
/* FIN ESTILOS productos.html */
@media (max-width: 576px) {
  .mainProductos .productos {
    grid-template-columns: repeat(1, 12fr);
  }
}
.navContactos {
  background-color: rgb(243, 207, 243);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divFormulario .fomrularioContacto {
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D8BFD8;
}
.divFormulario .fomrularioContacto .textoForm {
  color: white;
  font-weight: 700;
}
.divFormulario .fomrularioContacto .inputForm {
  background-color: #FFF3FF;
  border: transparent;
  margin: 5px 0px;
  padding: 2px 4px;
}
.divFormulario .fomrularioContacto .tituloContacto {
  text-align: center;
  color: white;
  font-weight: 600;
}
.divFormulario .fomrularioContacto .flexButon {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.divFormulario .fomrularioContacto .flexButon .botonEnviar {
  border-radius: 10px;
  width: 80px;
  padding: 2px;
  color: aliceblue;
  background-color: #E35FB7;
  cursor: pointer;
}
.divFormulario .fomrularioContacto .flexButon .botonEnviar :hover {
  color: rgb(128, 0, 86);
  background-color: aliceblue;
  font-weight: bold;
}

.mapa {
  text-align: center;
  margin: 20px;
}

.imgRedes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.iconoRed {
  width: 25px;
  height: 25px;
  margin: 5px;
}

@media (min-width: 1024px) {
  .divFormulario .fomrularioContacto {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .divFormulario .fomrularioContacto {
    width: 60%;
  }
  .mapa iframe {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .divFormulario .fomrularioContacto {
    width: 90%;
  }
  .mapa iframe {
    width: 90%;
  }
}
.mainNosotros {
  margin: 2% 16%;
}
.mainNosotros .tituloNosotros1 {
  margin: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 1px 1px 2px #E35FB7, 0 0 1em #B382A0, 0 0 0.5em #D8BFD8;
}
.mainNosotros .tarjetaNosotros {
  border-radius: 30px;
  background-color: #FFF3FF;
  height: 35%;
  margin: auto;
  display: grid;
  place-items: center;
}
.mainNosotros .tarjetaNosotros .listadoNosotros {
  margin: 20px;
  padding: 20px;
}
.mainNosotros .descripcion {
  margin: 50px 0px;
}
.mainNosotros .descripcion .tituloNosotros {
  background-color: #FFF3FF;
  color: #E35FB7;
  text-align: center;
}

.imagenPortadaNosotros {
  width: 100%;
  height: 300px;
}

@media (min-width: 1024px) {
  .mainNosotros .tarjetaNosotros {
    width: 35%;
  }
}
@media (max-width: 768px) {
  .imagenPortadaNosotros {
    width: 100%;
    height: 200px;
  }
  .mainNosotros {
    margin: 2% 6%;
  }
  .mainNosotros .tarjetaNosotros {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .imagenPortadaNosotros {
    width: 100%;
  }
  .mainNosotros {
    margin: 1% 3%;
  }
  .mainNosotros .tarjetaNosotros {
    width: 90%;
  }
}
* {
  margin: 0;
  padding: 0;
}

a:link {
  color: #E35FB7;
}

a:active {
  background-color: #E35FB7;
  color: white;
}

.body {
  background-color: rgb(241, 241, 241);
}

header .ofertasydescuentos {
  background-color: #E35FB7;
  text-align: center;
  color: #ffffff;
  width: auto;
}
header .contenedor-portada {
  height: 350px;
  overflow-y: hidden;
  width: auto;
}

nav .carritoDeCompras {
  width: 35px;
}
nav .carrito {
  text-align: right;
}
nav .menu {
  display: flex;
  background-color: #FFF3FF;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  text-align: center;
}
nav .img-logo-menu {
  width: 40px;
  align-items: center;
  border: solid #B382A0 2px;
}

main .whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
main .whatsapp .Imwhatsapp {
  height: 60px;
  width: 60px;
  color: white;
  background-color: #00bb2d;
  opacity: 0.9;
  border-radius: 10px;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.4));
}
main .titulo-inicial {
  color: #E35FB7;
  text-align: center;
  font-weight: 700;
  padding: 20px;
}
main .temporadas {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  color: #fff;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #FFF3FF, 0 2px 0 #D8BFD8, 0 6px 1px #D8BFD8, 0 0 5px #D8BFD8, 0 1px 3px #FFF3FF, 0 3px 5px #FFF3FF;
}
main .temporadas .tarjeta {
  background-color: #D8BFD8;
  border-radius: 20px;
  gap: 10px;
  padding: 20px;
  margin: 20px;
}
main .temporadas .tarjeta .im-temporada {
  border-radius: 15px;
  width: 100%;
  text-align: center;
}
main .mas-vendidos {
  margin: 50px 0px;
}
main .mas-vendidos .tituloMasVendidos {
  padding: 20px;
  font-size: xx-large;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #6B5F66, 0 0 1em rgb(209, 155, 208), 0 0 0.5em #B86C98;
}
main .mas-vendidos .formato-masvendidos .img-masvendidos {
  width: 100%;
  height: 80%;
  margin: 10px;
  filter: brightness(0.4);
}
main .mas-vendidos .formato-masvendidos .img-masvendidos:hover {
  transition: filter 1s;
  filter: brightness(1);
}

footer {
  padding: 10px;
  background-color: #D8BFD8;
  color: white;
}
footer .imgRedes {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .iconoRed {
  width: 25px;
  margin: 5px;
}

.btnSearch {
  border-radius: 10px;
  color: aliceblue;
  background-color: #D8BFD8;
  cursor: pointer;
}

@media (max-width: 576px) {
  /* INICIO ESTILOS index.html */
  .contenedor-portada {
    height: 150px;
  }
  /* FIN ESTILOS index.html */
}
@media (max-width: 768px) {
  .contenedor-portada {
    height: 250px;
  }
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
